  
  .dialog-content{
    padding:20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap:16px;
  }

  mat-form-field{
    width:100%;
  }

  .dialog-action{
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px;
    gap:10px;
  }

  .dialog-header {
    display: flex;
    justify-content: center;
  }
  .view-mode {
    color: black !important;
  
    mat-form-field {
      input {
        color: black !important;
      }

  
    }
    mat-option{
        color: black !important;
    }

    .dialog-title {
        text-align: center; 
        font-size: 24px; 
        font-weight: bold; 
        color: #1976d2; // Primary color
        margin-bottom: 10px; 
      }
      
    
  }
  